@import "tailwindcss";

@font-face {
    font-family: "Satoshi black";
    src: url("/fonts/Satoshi-Black.otf") format("truetype");
}
@font-face {
    font-family: "Satoshi meduim";
    src: url("/fonts/Satoshi-Medium.otf") format("truetype");
}
@font-face {
    font-family: "Satoshi italic";
    src: url("/fonts/Satoshi-Italic.otf") format("truetype");
}

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-italic: "Satoshi italic", sans-serif;
    --font-black: "Satoshi black", serif;
    --font-meduim: "Satoshi meduim", sans-serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #D8CBB8 0%,
            #CBBCA6 50%,
            transparent 100%
    );
}

@layer components {

}