@import "tailwindcss";

@font-face {
font-family: "Bebas Neue";
    src: url("../font/BebasNeue-Regular.otf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.otf") format("truetype");
}
body {
    overflow-x: hidden;
    background-color: #0c527a;
}
h1 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 128px;
    color: white;
}
pre {
    font-family: "Bebas Neue" , sans-serif;
}
h2 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 96px;
    color: white;
}
h3 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 250px;
    color: white;
}
h4 {
    font-family: "Montserrat" , sans-serif;
    color: white;
}
h5 {
    font-family: "Montserrat" , sans-serif;
    color: white;
}
h6 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 64px;
    color: white;
}
p {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 36px;
    color: white;
}

.buy {
    font-family: "Bebas Neue", sans-serif;
    background-color: #FFB627;
    border-radius: 50px;
}
.hero {
    width: 100%;
    height: 100vh;
    --inner: #E85D30;
    --outer: #FF8C42;
    background: radial-gradient(circle at center, var(--inner) 50%, var(--outer) 100%);
    overflow: hidden;
}
.hero2 {
    width: 100%;
    height: 100vh;
    --inner: #E85D30;
    --outer: #FF8C42;

    background: radial-gradient(
            circle at center,
            var(--inner) 50%,
            var(--outer) 100%
    );
}
.hero3 {
    --inner: #ffffff;
    --outer: #000000;

    background: radial-gradient(
            circle at center,
            var(--inner) 50%,
            var(--outer) 100%
    );
}


.hero3-inner {
    will-change: transform, opacity;
}
.juice {
    z-index: 10;
    position: absolute;
    transform: rotateX(1deg) rotateY(-1deg);

    filter:
            drop-shadow(0 20px 25px rgba(0, 0, 0, 0.35))
            drop-shadow(0 5px 10px rgba(0, 0, 0, 0.25));

}
.juice::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.5),
            transparent 60%
    );
    mix-blend-mode: screen;
    pointer-events: none;
    border-radius: 12px;
}
.juice::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 20px;
    background: rgba(0, 0, 0, 0.4);
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(18px);
    z-index: -1;
}

