@import "tailwindcss";


@font-face {
font-family: "Bebas Neue";
    src: url("../font/BebasNeue-Regular.otf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.otf") format("truetype");
}


body {
    overflow-x: hidden;
}

.hero,
.hero2,
.hero3 {
    scroll-snap-align: start;
}

h1 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 128px;
    color: white;
}
h2 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 96px;
    color: white;
}
h3 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 250px;
    color: white;
}
h4 {
    font-family: "Montserrat" , sans-serif;
    color: white;
}
h5 {
    font-family: "Montserrat" , sans-serif;
    color: white;
}
h6 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 64px;
    color: white;
}


p {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 20px;
    color: white;
}
pre {
    font-family: "Bebas Neue" , sans-serif;
}


.hero {
    width: 100%;
    height: 100vh;
    --inner: #E85D30;
    --outer: #FF8C42;
    background: radial-gradient(circle at center, var(--inner) 50%, var(--outer) 100%);
    overflow: hidden;
}
.hero2 {
    width: 100%;
    height: 100vh;
    --inner: #E85D30;
    --outer: #FF8C42;

    background: radial-gradient(
            circle at center,
            var(--inner) 50%,
            var(--outer) 100%
    );
}
.hero3 {
    --inner: #ffffff;
    --outer: #000000;

    background: radial-gradient(
            circle at center,
            var(--inner) 50%,
            var(--outer) 100%
    );
}
.hero3-inner {
    will-change: transform, opacity;
}
.noise-bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
    mix-blend-mode: soft-light;
    pointer-events: none;
}

.juice {
    z-index: 1;
    position: absolute;
    transform: rotateX(1deg) rotateY(-1deg);

    filter:
            drop-shadow(0 20px 25px rgba(0, 0, 0, 0.35))
            drop-shadow(0 5px 10px rgba(0, 0, 0, 0.25));

}
.juice::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.5),
            transparent 60%
    );
    mix-blend-mode: screen;
    pointer-events: none;
    border-radius: 12px;
}
.juice::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 20px;
    background: rgba(0, 0, 0, 0.4);
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(18px);
    z-index: -1;
}
.buy {
    font-family: "Bebas Neue", sans-serif;
    background-color: #FFB627;
    border-radius: 50px;
}


@media (min-width: 250px) and (max-width: 400px) {
    h1 {
        font-family: "Bebas Neue" , sans-serif;
        color: white;
        font-size: 40px;
        margin-top: 3rem;
    }
    h2 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 40px;
        color: white;
    }
    h3 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 100px;
        color: white;
    }
    h4 {
        font-family: "Montserrat" , sans-serif;
        color: white;
        font-size: 10px;
    }
    h5 {
        font-family: "Montserrat" , sans-serif;
        color: white;
        font-size: 20px;
    }
    h6 {
        font-family: "Bebas Neue" , sans-serif;
        display: none;
        color: white;
    }
    p {
        font-family: "Bebas Neue" , sans-serif;
        color: white;
        font-size: 14px;
    }
    .colors {
        height: 2rem;
    }
    .arrow {
        height: 2rem;
    }
    .buy {
        height: 2rem;
        width: 5rem;
    }
}

@media (min-width: 400px) and (max-width: 480px) {
    h1 {
        font-family: "Bebas Neue" , sans-serif;
        color: white;
        font-size: 50px;
        margin-top: 3rem;
    }
    h2 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 40px;
        color: white;
    }
    h3 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 100px;
        color: white;
    }
    h4 {
        font-family: "Montserrat" , sans-serif;
        color: white;
    }
    h5 {
        font-family: "Montserrat" , sans-serif;
        color: white;
    }
    h6 {
        font-family: "Bebas Neue" , sans-serif;
        display: none;
        color: white;
    }
    p {
        font-family: "Bebas Neue" , sans-serif;
        color: white;
        font-size: 15px;
    }
    .colors {
        height: 3rem;
    }
    .arrow {
        height: 3rem;
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    h1 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 60px;
        color: white;
        margin-top: 3rem;
    }
    h2 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 60px;
        color: white;
    }
    h3 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 150px;
        color: white;
    }
    h4 {
        font-family: "Montserrat" , sans-serif;
        color: white;
    }
    h5 {
        font-family: "Montserrat" , sans-serif;
        color: white;
    }
    h6 {
        font-family: "Bebas Neue" , sans-serif;
        display: none;
        color: white;
    }
    p {
        font-family: "Bebas Neue" , sans-serif;
        color: white;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    h1 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 80px;
        color: white;
        margin-top: 3rem;
    }
    h2 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 80px;
        color: white;
    }
    h3 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 190px;
        color: white;
    }
    h6 {
        font-family: "Bebas Neue" , sans-serif;
        display: none;
        color: white;
    }
    .hero3 {
        justify-content: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 95px;
        color: white;
        margin-top: 3rem;
    }
    h2 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 80px;
        color: white;
    }
    h3 {
        font-family: "Bebas Neue" , sans-serif;
        font-size: 230px;
        color: white;
    }
    h6 {
        font-family: "Bebas Neue" , sans-serif;
        display: none;
        color: white;
    }
}



