@import "tailwindcss";

@font-face {
font-family: "Bebas Neue";
    src: url("../font/BebasNeue-Regular.otf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.otf") format("truetype");
}
body {
    overflow-x: hidden;
    background-color: #FF8C42;
}
h1 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 128px;
    color: white;
}
pre {
    font-family: "Bebas Neue" , sans-serif;
}
h2 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 96px;
    color: white;
}
h3 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 250px;
    color: white;
}
h4 {
    font-family: "Montserrat" , sans-serif;
    color: white;
}
h5 {
    font-family: "Montserrat" , sans-serif;
    color: white;
}
h6 {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 64px;
    color: white;
}
p {
    font-family: "Bebas Neue" , sans-serif;
    font-size: 36px;
    color: white;
}

.buy {
    font-family: "Bebas Neue" , sans-serif;
    background-color: #FFB627;
    border-radius: 50px;
}
.hero {
    width: 50%;
    height: 100vh;
    background: radial-gradient(circle at center, #E85D30, #FF8C42);
}
.hero2 {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at center, #E85D30, #FF8C42);
}
.hero3 {
    background: radial-gradient(circle at center, #E85D30, #FF8C42);
}
.juice {
    z-index: 100;
    position: absolute;
}

